<!DOCTYPE html>
<html>
  <head>
    <title>Tecmerin Dosieres</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= @custom_class %>">
    <ul id="buttons">
      <li>
        <span id="close-button" class="fa-stack fa-2x" onclick="window.location.assign('<%= dossiers_url %>')">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-times fa-stack-1x fa-inverse"></i>
        </span>
      </li>
      
      <li>
        <span id="sidebar-button" class="fa-stack fa-2x" onclick="document.getElementsByClassName('sidebar')[0].classList.toggle('collapsed'); document.getElementsByClassName('content')[0].classList.toggle('collapsed')">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
        </span>
      </li>
    </ul>

    <div id="main">
      <%= yield %>
    </div>

  </body>
</html>
